
html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

article,
aside,
details, /* 1 */
figcaption,
figure,
footer,
header,
main, /* 2 */
menu,
nav,
section,
summary { /* 1 */
  display: block;
}

/**
 * Add the correct display in IE 9-.
 */

audio,
canvas,
progress,

progress {
  vertical-align: baseline;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */

template, /* 1 */
[hidden] {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Correct the line-height for all headings in Chrome mobile, Firefox,
 * iOS Safari, Microsoft Edge and IE.
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.15;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/* Forms
   ========================================================================== */

/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font: inherit; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Restore the font weight unset by the previous rule.
 */

optgroup {
  font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}




html, body{
    background-position: 50% 50%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.container{
    overflow-y: hidden;
    overflow-x: hidden;
}


.line1{
    width: 350px;
    height: 3px;
    margin-bottom: 0px;
    float: left;
    margin-top: 20px;
    
}

.line2{
    width: 350px;
    height: 3px;
    margin-top: 0px;
    float: left;
    
}

.line3{
    width: 350px;
    height: 3px;
    margin-bottom: 0px;
    float: right;
    margin-top: 20px;
    margin-left: 0px;
    
}

.line4{
    width: 350px;
    height: 3px;
    margin-top: 0px;
    float: right;
    margin-left: 0px;
}


h1, h2, h3, h4, h5, h6{
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}
p, a{
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}


.top_header {
    height: 50px;
    margin-top: 10px;
    
}

.contact {
    height: 30px;
    float: left;
    font-size: 14px;
    color: white;
}

.phone{
    height: 30px;
    float: left;
    margin-right: 20px;
    font-size: 14px;
    color: white;
}
.email{
    height: 30px;
    float: left;
    margin-right: 20px;
    font-size: 14px;
    color: white;
}
.email a{
    color: white;
}

.top_header_menu {
    height: 30px;
    float: right;
    margin-left: 0px;
    padding-right: 0px;
    font-size: 14px;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.top_header_menu ul > li{
    display: inline;
    float: left;
    margin-right: 11px;
    font-size: 14px;
}


.top_header_menu ul > li > a{
    display: block;
    color: #444;
    font-size: 12px;
}
.header_wrapper{
    width: 100%;
    height: 120px;
    padding: 0px;
    margin: 0px;
    background: #f5f6f1;
    float: left;
}

.header {
    margin: 0 auto;
    width: 1025px;
    height: 120px;
    padding-left: 0px;
}

.header_logo {
    height: 120px;
    float: left;
    margin-top: 10px;
    
}

.text {
    height: 120px;
    float: left;
    margin-right: 0px;
    margin-top: 0px;
}
.text h1{
    margin-bottom: 0px;
    text-decoration-color: #463f3a;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    
}
.text p{
    font-size: 12px;
    margin-top: 0px;
    text-decoration-color: #463f3a;
}

.logo {
    padding: 0px;
    height: 120px;
    float: left;
    margin: 0px;
    margin-top: 20px;
    margin-left: 0px;
}

.header_menu {
    height: 100px;
    float: left;
    margin-top: 50px;
}

.header_menu ul >li{
    display: inline;
    float: left;
    margin-right: 10px;
    font-size: 14px;
   
}
.header_menu ul >li>a>b{
    color: red;
    margin-left: 15px;
    margin-right: 5px;
}

.header_menu ul >li >a{
    font-size: 14px;
    color: #444;
    
}

.header_cart {
    height: 100px;
    float: right;
    padding: 0px;
    margin: 0px;
}
.cart_image{
    height: 100px;
    float: right;
    margin-top: 35px;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    
}
.cart_text{
    height: 100px;
    float: right;
    margin-right: 0px;
    margin-left: 70px;
    margin-top: 30px;
}
.cart_text p{
    margin-bottom: 0px;
    margin-left: 7px;
    font-size: 13px;
}
.cart_text span{
    margin-bottom: 0px;
    margin-left: 10px;
}

.slider_wrapper{
    background-image: url(slider.jpg);
}

.slider {
    margin: 0 auto;
   
    padding: 0px;
    height: 400px;
    
}

.slider-left {
    height: 400px;
    float: left;
    margin-left: 50px;
    margin-top: 50px;
    text-decoration-color: white;
    
}
.slider-left h1{
    color: white;
    font-size: 48px;
}

.slider-right {
    height: 400px;
    float: right;
    margin-top: 200px;
    margin-right: 3px;
}



.box1 {
    height: 100px;
    width: 350px;
    background-color: #f5f6f1;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 0px;

}
    

.box1 h3{
    margin-top: 30px;
    margin-bottom: 0px;
}
.box1 p{
    margin-top: 0px;
    
}
.box1 p >b{
    color: red;
}

.box2 {
    height: 100px;
    width: 350px;
    background-color: #f5f6f1;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 0px;

}

.box2 h3{
    margin-top: 30px;
    margin-bottom: 0px;
}
.box2 p{
    margin-top: 0px; 
}
.box2 p >b{
    color: red;
}

.box3 {
    height: 100px;
    width: 350px;
    background-color: #f5f6f1;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 0px;

}

.box3 h3{
    margin-top: 30px;
    margin-bottom: 0px;
}
.box3 p{
    margin-top: 0px;
}
.box3 p >b{
    color: red;
}
.box3 p >mark{
    text-decoration: none;
    text-decoration-color: red;
}

.catagories_wrapper{
    background-color: #f5f6f1;
}

.catagory_details {
    float: left;
    background-color: white;
    margin-left: 0px;
    
}
.catagory_details h2, p, a{
    text-align: center;
}
.catagory_details a{
    color: red;
    text-align: center;
}


.latest {
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.latest_details {
    float: left;
    margin-left: 0px;
}
.latest_details button{
    background-color: #463f3a;
    width: 220px;
    color: white;
}



.featured_products_wrapper {
    margin: 0px;
    padding: 0px;
    background-color: #f5f6f1;
    float: left;
    
}


.featured_products {
    margin: 0 auto;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.featured_products_details {
    float: left;
    margin-left: 0px;
}
.featured_products_details button{
    background-color: #463f3a;
    width: 220px;
    color: white;
}
.featured_products_details h4, p{
    text-align: center;
}


.recent_posts_wrapper {
    background-color: #ffff;
    float: left;
    
}

.recent_posts_details {
    float: left;
    margin-left: 0px;
}
.recent_posts_details a{
    color: red;
    text-align: center;
}
.recent_posts_details img{
}


.top_footer_wrapper {
    background-color: #f5f6f1;
    float: left;
}
.top_footer {
    text-align: center; 
}

.top_footer h1{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: #444;
    margin-bottom: 0px;
    margin-top: 20px;
    font-size: 24px;
}
.top_footer p{
    text-align: center;
    color: #444;
    margin-top: 0px;
}
.top_footer p>a{
    color: red;
}

.footer_wrapper {
    height: 120px;
    background-color: #463f3a;
    float: left;
}
.footer {
    margin: 0 auto;
    
}


.text1 {
    height: 150px;
    width: 125px;
    margin-bottom: 0px;
    float: left;
    margin-right: 0px;
    margin-top: 0px;
}
.text1 h1{
    margin-bottom: 0px;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    margin-top: 35px;
    
}
.text1 p{
    font-size: 12px;
    margin-top: 0px;
    color: white;
}

.logo1 {
    height: 150px;
    width: 50px;
    float: left;
    margin-top: 40px;
    margin-left: 35px;

}
.footer_menu ul{
    text-align: center;
    float: left;
}

.footer_menu ul > li{
    display: inline;
    float: left;
    font-size: 14px;
    margin-left: 10px;
}
.footer_menu ul > li > a{
    display: block;
    color: white;
    font-size: 18px;
    /*margin-bottom: 10px;*/
    margin-top: 30px;
}
.footer_menu ul > li > a>b{
    color: red;
    margin-left: 15px;
    margin-right: 5px;
}
.footer_menu p{
    color: white;
    text-align: center;
    font-size: 12px;
    margin-top: 0px;
}

.footer_button {
    width: 80px;
    height: 50px;
    float: right;
    margin-top: 40px;
}

.footer_button button{
    background-color: #3c3631;
    border: none;
    height: 40px;
    width: 40px;
}


.footer_bottom_wrapper {
    background-color: #eeeeee;
    float: left;
    
}

.social {
    height: 50px;
    width: 300px;
    float: left;
    margin-right: 20px;
    margin-top: 15px;
}
.icons{
    height: 50px;
    width: 35px;
    float:left;
}

.designer {
    margin-top: 10px;
    float: right;
}

.designer a{
    color: red;
    font-size: 12px;
}
.designer p{
    font-size: 14px;
    color: #5c5652;
    text-align: right;
}

